<% flash.each do |type, message| %>
  <% base = "mb-4 rounded-lg px-4 py-3 text-sm" %>
  <% klass =
      case type.to_s
      when "notice" then "bg-green-50 text-green-800 border border-green-200"
      when "alert"  then "bg-red-50 text-red-800 border border-red-200"
      else "bg-blue-50 text-blue-800 border border-blue-200"
      end %>
  <div class="<%= "#{base} #{klass}" %>"><%= message %></div>
<% end %>
